# Firebase config (keep private)
firebase-config.js

# Node / build folders (if using any build tools later)
node_modules/
dist/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# VSCode settings
.vscode/

# Mac system files
*.swp
